@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;

}

html {

    background-color: #f8ad9d;
}

#laptop-bottom {
    animation: changeColor 2s infinite alternate;
}

@keyframes changeColor {
    0% {
        fill: white;
    }

    100% {
        fill: purple;
    }

}

#womencoder {
    animation: floating 1s infinite ease-in-out;

}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.svg-container {
    margin-left: -2%;

}

.vector1 {
    margin-left: 20%;
    margin-top: 5%;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Mali', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

.navbar ul li a {
    text-decoration: none;
    padding: 8px 25px;
    color: #006d77;
    font-family: 'Mali', cursive;

}

.navbar ul li a:hover {
    background-color: #fdfcdc;
    color: #ff7480;
    box-shadow: 0 0 10px black;
}

.about-me {

    display: block;
    position: absolute;
    width: 50%;
    left: 40%;
    top: 20%;

}

h2 {
    text-transform: uppercase;
    margin-left: 100px;
    font-size: 50px;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 25%;
    color: #006d77;
    font-family: 'Mali', cursive;

}


.hidden {
    color: #006d77;
    font-family: 'Mali', cursive;
    font-weight: bold;
    background-color: antiquewhite;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    margin: 58px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(33, 27, 27, 0.3);
    line-height: 40px;
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
    transform: translateX(-200%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}


/* #first-para,
#second-para {} */

#victory {
    margin-left: 30%;
}

#clap {
    display: inline-block;
    margin-left: -5%;
    margin-bottom: -5%;
}

.footer {

    margin-top: 60%;
    margin-bottom: 3%;
    text-align: center;
    color: #006d77;
    font-family: 'Mali', cursive;
    font-size: 20px;

}

@media (prefers-reduced-motion) {

    .hidden {
        transform: none;
        transition: none;
    }
}