<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolia-Reama Frantz</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap" rel="stylesheet">


</head>

<body>
    <main>
        <!-- nav bar -->
        <nav id="app" class='navbar'>
            <ul>
                <li><a :href="home">Home</a></li>
                <li><a :href="about">About</a></li>
                <li><a :href="experience">Experience</a></li>
                <li><a :href="services">Services</a></li>
                <li><a :href="projects">Projects</a></li>
                <li><a :href="contact">Contact</a></li>

            </ul>

        </nav>
        <!-- animated address, phone and email icons -->
        <article class="contact-info">
            <article class="info-box">
                <article class="icons">
                    <lord-icon src="https://cdn.lordicon.com/oaflahpk.json" trigger="loop" delay="1000"
                        style="width:100px;height:100px">
                    </lord-icon>
                    <h4>Address</h4>
                    <h3>New York City</h3>
                </article>
            </article>
            <article class="info-box">
                <article class="icons">
                    <lord-icon src="https://cdn.lordicon.com/bjnaomnr.json" trigger="loop" delay="1000"
                        style="width:100px;height:100px">
                    </lord-icon>
                    <h4>Mobile</h4>
                    <h3>123-456-789</h3>
                </article>
            </article>
            <article class="info-box">
                <article class="icons">
                    <lord-icon src="https://cdn.lordicon.com/lfqstkwj.json" trigger="loop" delay="2000"
                        style="width:100px;height:100px">
                    </lord-icon>
                    <h4>Email</h4>
                    <h3>test@gmail.com</h3>
                </article>
            </article>
        </article>

        <!-- contact form -->
        <article id="app3" class="contact-us">
            <form @submit.prevent="submitSuccess">
                <h2>Contact Me</h2>
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Your name" v-model="name" @blur="validateName">
                <p class="error" v-if="nameError">Name cannot be blank </p>
                <label for="Email">Email</label>
                <input type="text" id="email" placeholder="Your email" v-model="email" @blur="validateEmail">
                <p class="error" v-if="emailError">Email is not valid </p>
                <label for="message">Message</label>
                <textarea id="message" placeholder="Your message" rows="6" v-model="message"
                    @blur="validateMessage"></textarea>
                <p class="error" v-if="messageError">Message cannot be blank </p>
                <div class="send">
                    <input type="submit" value="Send🎯">
                    <p id="success" v-if="success">Message send successfully</p>

                </div>

            </form>

        </article>
        <footer id="app2" class="footer">
            <p>{{footer}}</p>
        </footer>
    </main>
    <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
    <script src="contact.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="headfoot.js" type="module"></script>

</body>

</html>