@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f8ad9d;
    font-family: 'Mali', cursive;
    color: #006d77;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Mali', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

.navbar ul li a {
    text-decoration: none;
    padding: 8px 25px;
    color: #006d77;
    font-family: 'Mali', cursive;

}

.navbar ul li a:hover {
    background-color: #fdfcdc;
    color: #ff7480;
    box-shadow: 0 0 10px black;
}

.contact-info {

    width: 600px;
    margin-top: 50px;
    margin-left: 520px;
    display: flex;
    justify-content: space-between;

}

.contact-info .info-box {
    text-align: center;

}

.contact-info .info-box .icons lord-icon {
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
}

.contact-info .info-box .icons h4,
h3 {
    position: relative;
    font-weight: 200;
    overflow: hidden;
    font-size: 20px;
    transition-delay: 0.4s;
    color: transparent;
    margin: auto;
}

.contact-info .info-box .icons lord-icon:hover~h3,
.contact-info .info-box .icons lord-icon:hover~h4 {
    color: #006d77;
    font-weight: bold;

}

.contact-info .info-box .icons h4 {
    font-weight: 400;
}

.contact-info .info-box .icons h3:before,
.contact-info .info-box .icons h4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    right: 100%;
    width: 100%;
    height: 100%;
    background: #006d77;
    transition: 1s;
    border-radius: 20px 20px;
}

.contact-info .info-box .icons h4:before {
    left: initial;
    right: 100%;
    background: #006d77;
}

.contact-info .info-box .icons lord-icon:hover~h3:before {
    left: -100%;

}

.contact-info .info-box .icons lord-icon:hover~h4:before {
    left: initial;
    right: -100%;

}

.contact-us {
    width: 100%;
    height: 100%;
    font-size: 17px;
    display: block;
    justify-content: center;
    align-items: center;

}

.contact-us form {
    max-width: 550px;
    background: #84a59d;
    margin: 5vh auto 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact-us h2 {
    margin-bottom: 10%;
    margin-left: 25%;
    font-weight: bold;
    font-size: 40px;

}

.contact-us label {
    display: block;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;

}

.contact-us input,
textarea {
    width: 100%;
    margin-left: 2.5%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 2px solid #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom: 10px;
    border-radius: 10px;
    color: black;
}

input[type="text"]:focus,
textarea:focus {
    border-bottom: 1px solid #ff7480;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #ff7480;
}

.send {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: #f8ad9d;
    font-size: 20px;
    color: #006d77;
    cursor: pointer;
    border-radius: 10px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 15px;

}


#success {
    color: green;
}


.footer {

    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    color: #006d77;
    font-family: 'Mali', cursive;
    font-size: 20px;

}