@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;

}

html {
    font-family: 'Mali', cursive;
    background-color: #f8ad9d;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Mali', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

.navbar ul li a {
    text-decoration: none;
    padding: 8px 25px;
    color: #006d77;
    font-family: 'Mali', cursive;

}

.navbar ul li a:hover {
    background-color: #fdfcdc;
    color: #ff7480;
    box-shadow: 0 0 10px black;
}

img {
    padding: 50px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 10%;

}

.fade-out {
    animation: fadeOut 10s infinite;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.type-container {
    margin-top: -35%;
    margin-left: 50%;
    overflow: hidden;

}

.type-container .text {
    position: relative;
    color: #006d77;
    font-size: 60px;
    font-weight: 600;
    overflow: hidden;
}

.type-container .second-text {
    color: #f08080;
}


.text.second-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8ad9d;
    border-left: 2px solid black;
    animation: boxmove 4s steps(20) infinite;

}

@keyframes boxmove {

    40%,
    60% {
        left: calc(100% + 6px);
    }

    100% {
        left: 0%;
    }
}

.footer {

    margin-top: 25%;
    padding: 10px;
    text-align: center;
    color: #006d77;
    font-family: 'Mali', cursive;
    font-size: 20px;

}

@media (max-width: 767px) {
    .navbar ul {
        flex-direction: column;
        text-align: center;

    }

    .navbar ul li a {
        padding: 1px;
    }

    img {
        padding: 25px;
        border-radius: 5%;
        width: 30%;

    }

    .type-container .text {

        font-size: 35px;
        font-weight: 200;
    }

}